extends templates-html/layout.pug
block contacts
	.container-fluid
		.row#contacts.contacts
			.col-lg-6.col-xl-6
				.row.contacts-header
					img.logo-contacts(src="img/logo-contacts.png" alt="Максим и Ксения Орловы")
					.col.contacts-info
						.contacts-info-name Максим и Ксения
						.contacts-info-surname Орловы
						a.link.tel(href="tel:89323212509") 8 (932) 321-25-09
						a.link.btn.btn__green.email(href="mailto:info@orloves.com") info@orloves.com
				.row.justify-content-center.contacts-footer
						a.link.call(href="#") Заказать звонок
						span.contacts-slogan У каждого ребёнка должен быть фильм от орлавс
			a.link#contacts-close(href="#")

block content
	.container-fluid
		#portfolio.row.portfolio
			.portfolio-title Наше портфолио
			.portfolio-video-wrap
				a.link.portfolio-video(href="#")#portfolio1
					p.portfolio-video-title Семейный<br> клип
				a.link.portfolio-video(href="#")#portfolio2
					p.portfolio-video-title Семейный<br> фильм
				a.link.portfolio-video(href="#")#portfolio3
					p.portfolio-video-title Фильм<br> о двоих
				a.link.portfolio-video(href="#")#portfolio4
					p.portfolio-video-title Детский<br> сад
				a.link.portfolio-video(href="#")#portfolio5
					p.portfolio-video-title Дни<br> рождения
			a.link.btn.btn__blue.order-video(href="#order-form" rel="modal:open") Заказать семейное видео от орлавс
	.container-fluid
		#slideshow.row.slideshow
				.slideshow-item
					video(controls="controls" loop="loop")
						source(src="video/video1.mp4")
				.slideshow-item
					video(controls="controls" loop="loop")
						source(src="video/video2.mp4")
				.slideshow-item
					video(controls="controls" loop="loop")
						source(src="video/video3.mp4")
	.container-fluid
		#reviews.row.reviews.reviews-slider
			.reviews-item.col-xl-12
				.row
					.col-lg-5.col-xl-5.hidden-md-down
						img.reviews-img(src="img/reviews.jpg" alt="Семья фадеевых")
					.col-12.col-lg-7.col-xl-6.reviews-item-desc
						a.link.reviews-family(href="#").arrow-blue Фадеевых 
							span.animate-text история съёмок
						p.reviews-text Орловы кайфуют в процессе, у них горят глаза и куча идей, поэтому в такой озитивной и дружеской обстановке рождаются большие шедевры маленьких семей, как наша:) весь съемочный процесс мы шутили и смеялись)пару дней назад мы сотворили второй наш проектик , фильм о нашем, недавно родившемся сыне)
						a.link.reviews-all(href="#").arrow-green Все отзывы 
							span.animate-text о нас
	.container-fluid
		#news.row.news
			.news-all-wrap
				a.link.news-all.arrow-white(href="#") Все новости
			.news-article-slider
				a.link.news-article(href="#")
					.news-text
						h3.news-title Мы создаем наш сайт
						p.news-desc 1 декабря 2016 стартуем
	form#order-form.order-form(action='' style='display:none;')
		.order-form__header
			.column-left 2016
			.column-right
				.day-week понедельник
				.day-month 24 октября
		.order-form__desc выбирите удобное время 
		#datepicker
		.order-form__footer
			input(type="text" name="name" placeholder="имя")
			input(type="text" name="tel" placeholder="телефон")
			input(type="datetime" name="dateandtime" placeholder="дата и время")
			input(type="text" name="typevideo" placeholder="тип видео")
			textarea
			input(type="submit" value="отправить заявку")