body {
	font-family: 'Gotham Pro';
	font-size: 12.5px;
	font-weight: normal;
	margin: 0;
}

.link {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.modal a.close-modal {
	display: none;
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}