.header {
	position: relative;
	color: white;
	text-align: center;
	padding-top: 10px;
	background: url('../img/bg-header.jpg') 41% 50% no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/0 0 4px 7px;
	box-shadow: 0px 0px 10px 4px black;
	z-index: 1;
	overflow: hidden;
	@media (min-width: 361px) and (max-width: 1000px) {
		padding-top: 34px;
		border-radius: 0 0 100% 100%/0 0 40px 40px;
		box-shadow: 0px 0px 17px 7px black;
	}
	@media (min-width: 1001px) {
		padding-top: 27px;
		border-radius: 0 0 100% 100%/0 0 110px 110px;
		box-shadow: 0px 10px 15px 0px black;
	}
	&-title {
		font-size: 20px;
		font-size: 1.25em;
		line-height: 20px;
		letter-spacing: -0.06em;
		@include text-uppercase;
		font-weight: 900;
		@media (min-width: 361px) and (max-width: 1000px) {
			// font-size: 35px;
			font-size: calc( (100vw - 361px)/(1000 - 361) * (50 - 20) + 20px);
			line-height: calc( (100vw - 361px)/(1000 - 361) * (50 - 20) + 20px);
		}
		// @media (min-width: 650px) and (max-width: 1000px) {
		// 	font-size: 50px;
		// 	line-height: 50px;
		// }
		@media (min-width: 1001px) {
			font-size: 41.67px;
			line-height: 41.67px;
		}
		&__big {
			font-size: 54px;
			line-height: 46px;
			letter-spacing: -0.05em;
			@media (min-width: 361px) and (max-width: 1000px) {
				// font-size: 80px;
				font-size: calc( (100vw - 361px)/(1000 - 361) * (150 - 54) + 54px);
				line-height: calc( (100vw - 361px)/(1000 - 361) * (126 - 54) + 54px);
			}
			// @media (min-width: 650px) and (max-width: 1000px) {
			// 	font-size: 150px;
			// 	line-height: 127px;
			// }
			@media (min-width: 1001px) {
				font-size: 125px;
				line-height: 105px;
			}
		}
	}
	&-footer {
		// padding-top: 177px;
		padding-top: 210px;
		@media (min-width: 361px) and (max-width: 1000px) {
			padding-top: 588px;
		}
		@media (min-width: 1001px) {
			padding-top: 527px;
		}
	}
	&-slogan {
		font-size: 33.33px;
		line-height: 28.53px;
		@include text-uppercase;
		font-weight: 900;
		letter-spacing: -0.05em;
		margin: 0;
		@media (min-width: 361px) and (max-width: 1000px) {
			// font-size: 45px;
			font-size: calc( (100vw - 361px)/(1000 - 361) * (92 - 33) + 33px);
			// line-height: 45px;
			line-height: calc( (100vw - 361px)/(1000 - 361) * (83 - 33) + 33px);
		}
		@media (min-width: 650px) and (max-width: 1000px) {
			// font-size: 91.67px;
			// line-height: 83px;
			max-width: 700px;
			display: inline-block;
		}
		@media (min-width: 1001px) {
			font-size: 95.83px;
			line-height: 91px;
		}
	}
}
.social {
	&-btns {
	display: none;
	font-size: 0;
	@include no-style-ul;
	position: absolute;
	top: 157px;
	left: 0;
	right: 0;
	& .link {
		display: block;
		height: 24px;
		width: 24px;
		@media (min-width: 361px) and (max-width: 1000px) {
			height: 66px;
			width: 66px;
		}
		@media (min-width: 1001px) {
			height: 42px;
			width: 42px;
		}
	}
	}
	&-btn {
		margin-right: 17px;
		position: relative;
		display: inline-block;
		@media (min-width: 361px) and (max-width: 1000px) {
			margin-right: 47px;
		}
		@media (min-width: 1001px) {
			margin-right: 30px;
		}
		&:last-child {
			margin-right: 0px;
		}
		&__inst, &__vk, &__fb {
			background-size: 24px;
			background-repeat: no-repeat;
			@media (min-width: 361px) and (max-width: 1000px) {
				background-size: 66px;
			}
			@media (min-width: 1001px) {
				background-size: 42px;
			}
		}
		&__inst {
			background-image: url(../img/inst.svg);
			&:hover {
				background-image: url(../img/inst-hover.svg);
			}
		}
		&__vk {
			background-image: url(../img/vk.svg);
			background-size: 28px;
			background-position: center;
			@media (min-width: 361px) and (max-width: 1000px) {
				background-size: 84px;
			}
			@media (min-width: 1001px) {
				background-size: 54px;
				height: 42px;
			}
			& .link {
				width: 31px;
				@media (min-width: 1001px) {
					width: 54px;
					height: 30px;
				}
			}
			&:hover {
				background-image: url(../img/vk-hover.svg);
			}
		}
		&__fb {
			background-image: url(../img/fb.svg);
			&:hover {
				background-image: url(../img/fb-hover.svg);
			}
		}
	}
}
.panel-menu, .main-menu {
	@include no-style-ul;
}

@media (max-width: 1000px) {
	.main {
		&-menu {
			display: none;
			&__open-js {
				display: block;
			}
		}
		&-navigation {
			position: relative;
			&__open-js{
				position: absolute;
				top: -10px;
				bottom: 0;
				right: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1;
				padding-top: 76px;
				@media (min-width: 361px) and (max-width: 1000px) {
					padding-top: 217px;
					top: -40px;
				}
			}
		}
		&-menu-item {
			color: white;
			font-size: 25px;
			line-height: 42px;
			letter-spacing: -0.05em;
			font-weight: 900;
			@include text-uppercase;
			@media (min-width: 361px) and (max-width: 1000px) {
				font-size: 66.67px;
				line-height: 115px;
			}
		}
	}
	.panel-menu {
		padding-top: 11px;
		position: absolute;
		right: 0;
		left: 0;
		@media (min-width: 361px) and (max-width: 1000px) {
			padding-top: 27px;
		}
		&__open-js {
			position: static;
		}
		&-item {
			& .link {
				border: 1px solid #666462;
				border-radius: 3px;
				height: 20px;
				width: 25px;
				background-color: white;
				display: inline-block;
				background-image: url(../img/menu.svg);
				background-size: 20px;
				background-position: center;
				@media (min-width: 361px) and (max-width: 1000px) {
					width: 66px;
					height: 63px;
					border-radius: 6px;
					background-image: url(../img/menu.svg);
					background-size: 63px;
				}
			}
			&__open-js {
					& .link {
						background-image: url(../img/close-menu.svg);
					}
				}
			}
		}
}
.main-menu-item:hover {
	color: green;
	transform: rotate(10deg);
	display: inline-block;
}
@media (min-width: 1001px) {
	@keyframes animateMenu {
		0% {transform: translateX(100%)}
		20% {transform: translateX(50%)}
		50% {transform: translateX(0%)}
		70% {transform: translateX(-20%)}
		100% {transform: translateX(0%)}
	}
	.social-btns {
		display: block;
	}
	.main {
		&-menu-wrap {
			padding: 188px 44px;
			padding-bottom: 0px;
			position: absolute;
			right: 0;
			top: -27px;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			display: none;
			&__open-js {
				display: block;
				animation: animateMenu 1s linear;
			}
			
		}
		&-menu {
			& li {
				margin-bottom: 16px;
				margin-bottom: 1.3em;
			}
		}
		&-menu-item {
			color: white;
			font-size: 37.5px;
			line-height: 98px;
			line-height: 82.29px;
			letter-spacing: -0.05em;
			font-weight: 900;
			@include text-uppercase;
		}
	}
	.panel-menu {
		&-item {
			position: absolute;
			top: 55px;
			right: 0;
			border: 1px solid #666462;
			border-top-left-radius: 11px;
			border-bottom-left-radius: 11px;
			height: 86px;
			width: 218px;
			background-color: white;
			z-index: 1;
			& .link {
				display: block;
				height: 86px;
				width: 86px;
				background-image: url(../img/menu.svg);
				background-size: 84px;
				margin-left: 16px;
			}
			&__open-js {
				& .link {
					background-image: url(../img/close-menu.svg);
				}
			}
		}
	}
}
.video-control-group {
	@include no-style-ul;
	text-align: center;
	font-size: 0;
	padding-top: 12px;
	margin-bottom: 88px;
	@media (min-width: 361px) and (max-width: 1000px) {
		padding-top: 9px;
		padding-top: 46px;
		margin-bottom: 232px;
	}
	@media (min-width: 1001px) {
		padding-top: 9px;
		padding-top: 17px;
		margin-bottom: 124px;
	}
	&-item {
		display: inline-block;
		border: 1px solid #b9b9b9;
		background-color: white;
		& .link {
			height: 24px;
			width: 32px;
			display: inline-block;
			background-size: 24px;
			background-position: center;
			background-repeat: no-repeat;
			@media (min-width: 361px) {
				height: 69px;
				width: 89px;
			}
			@media (min-width: 361px) {
				background-size: 50px;
			}
		}
		&__pause-play {
			border-right: 1px solid transparent;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			& .link {
				background-image: url(../img/pause.svg);
				&.on-play-js {
					background-image: url(../img/play.svg);
				}
			}
			@media (min-width: 361px) {
				border-top-left-radius: 11px;
				border-bottom-left-radius: 11px;
			}
		}
		&__sound {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			& .link {
				background-image: url(../img/off-sound.svg);
				&.on-sound-js {
					background-image: url(../img/on-sound.svg);
				}
			}
			@media (min-width: 361px) {
				border-top-right-radius: 11px;
				border-bottom-right-radius: 11px;
			}
		}
	}
}
.order-video {
	font-size: 16.67px;
	line-height: 13.6px;
	letter-spacing: -0.05em;
	text-align: center;
	color: white;
	width: 200px;
	background-color: #2f64a1;
	border-radius: 10px;
	padding: 7px;
	@include text-uppercase;
	font-weight: 900;
	position: absolute;
	bottom: 17px;
	left: 50%;
	// right: 0;
	margin: auto;
	transform: translateX(-50%) rotate(-2deg);
	@media (min-width: 361px) and (max-width: 650px) {
		font-size: 25px;
		font-size: calc( (100vw - 361px)/(650 - 361) * (25 - 16.67) + 16.67px);
		line-height: 25px;
		line-height: calc( (100vw - 361px)/(650 - 361) * (25 - 16.67) + 16.67px);
		width: 350px;
	}
	@media (min-width: 650px) and (max-width: 1000px){
		font-size: 41.67px;
		font-size: calc( (100vw - 650px)/(1000 - 650) * (41.67 - 25) + 25px);
		line-height: 37.81px;
		line-height: calc( (100vw - 650px)/(1000 - 650) * (37.81 - 25) + 25px);
		width: 545px;
		bottom: 60px;
		padding: 18px;
		border-radius: 20px;
	}
	@media (min-width: 1001px) {
		display: none;
	}
}