.container-fluid
	#footer.row.footer
		//- .col-xl-12
		ul.bottom-menu.bottom-menu-lists
			li.bottom-menu-item: a.link(href="#about") О нас
			li.bottom-menu-item: a.link(href="#portfolio") Новости
			li.bottom-menu-item: a.link(href="#reviews") Отзывы
			li.bottom-menu-item: a.link(href="#contacts") Контакты
		.col-12
			.row.footer-contacts
				.footer-contacts-slogan.col-12.col-sm-12.col-md-6.col-xl-3.offset-xl-4
					img.logo-contacts(src="img/logo.svg" alt="Максим и Ксения Орловы")
					span.contacts-slogan У каждого ребёнка должен быть фильм от орлавс
				.footer-contacts-order.col-12.col-sm-12.col-md-6.col-xl-3
					a.link.tel(href="tel:89323212509") 8 (932) 321-25-09
					a.link.call(href="#") Заказать звонок
		.col-12
			ul.social-btns.social-btns__footer
				li.social-btn.social-btn__inst: a.link(href="#" target="_blank")
				li.social-btn.social-btn__vk: a.link(href="#" target="_blank")
				li.social-btn.social-btn__fb: a.link(href="#" target="_blank")
		.copyright &copy; 2016. Orloves.com. Семейное видео. Все права защищены.