.container-fluid
	#header.row.header
		.header-header.col-xl-12
			span.header-title Семейное видео
			span.header-title.header-title__big Орлавс
			ul.social-btns
				li:a.link.social-btn__inst(href="#")
				li:a.link.social-btn__vk(href="#")
				li:a.link.social-btn__fb(href="#")
		nav.main-navigation
			ul.panel-menu
				li:a.link.panel-menu-item(href="#")
			ul.main-menu.main-menu-lists
				li:a.link.main-menu-item(href="#about") О нас
				li:a.link.main-menu-item(href="#portfolio") Портфолио
				li:a.link.main-menu-item(href="#reviews") Отзыввы
				li:a.link.main-menu-item(href="#contacts") Контакты
		.header-footer.col-xl-12
			img.logo-header(src="img/logo-header.png" alt="Максим и Ксения Орловы")
			span.header-slogan Мы снимаем жизнь		
			ul.video-control-group
				li:a.link.video-control-group-item(href="#")
				li:a.link.video-control-group-item(href="#")
			a.link.btn.btn__blue.order-video(href="#") Заказать семейное видео от орлавс