.container-fluid
	#header.row.header
		.col-xl-12
			.row.header-header
				span.w-100.header-title Семейное видео
				span.w-100.header-title.header-title__big Орлавс
				ul.w-100.social-btns
					li.social-btn.social-btn__inst: a.link(href="#" target="_blank")
					li.social-btn.social-btn__vk: a.link(href="#" target="_blank")
					li.social-btn.social-btn__fb: a.link(href="#" target="_blank")
			
			nav.main-navigation
				ul.panel-menu
					li.panel-menu-item: a.link(href="#")
				ul.main-menu.main-menu-lists
					li: a.link.main-menu-item(href="#about") О нас
					li: a.link.main-menu-item(href="#portfolio") Портфолио
					li: a.link.main-menu-item(href="#reviews") Отзывы
					li: a.link.main-menu-item#contact(href="#footer") Контакты
			.row.header-footer
				.w-100
					picture
						source(media="(min-width:1915px)" srcset="img/logo-header.png")
						source(media="(min-width:1000px)" srcset="img/logo-header-tablet.png")
						img.header-logo(src="img/logo-header-mobile.png" alt="Максим и Ксения Орловы")
				.w-100
					p.header-slogan Мы снимаем<br> жизнь		
				.w-100
					ul.video-control-group
						li.video-control-group-item.video-control-group-item__pause-play: a.link(href="#")
						li.video-control-group-item.video-control-group-item__sound: a.link(href="#")
		a.link.btn.btn__blue.order-video(href="#order-form" rel="modal:open") Заказать семейное видео от орлавс