doctype html
html(lang="RU")
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Семейное видео ОРЛАВС
		link(rel='stylesheet', href='css/style.min.css')
		//- link(rel='stylesheet', href='css/style.css')
		script(src='js/main.js')
	body
		include header.pug
		block content
		include footer.pug
